html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* 세로방향  */
.app-container{
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}
/* 내용이 많아지면 자연스럽게 스크롤이 생기도록 설계 */
.main-content{
  flex: 1;
  padding: 20px;
}